:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.6;
  font-weight: 400;

  color: #e5e7eb;
  background-color: #0f172a; /* deep modern dark */

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  min-height: 100vh;
  /* background: radial-gradient(circle at top, #1e293b, #0f172a); */
  font-family: "Inter", sans-serif;
  /* background: #f8fafc; */
}

h1, h2, h3 {
  margin: 0;
}

button {
  border-radius: 10px;
  border: none;
  padding: 0.6em 1.4em;
  font-size: 0.95rem;
  font-weight: 600;
  font-family: inherit;
  background: linear-gradient(135deg, #3b82f6, #6cbcd6);
  color: white;
  cursor: pointer;
  transition: all 0.25s ease;
}

button:hover {
  background-color: #334155;
  /* transform: translateY(-2px); */
}


input {
  background-color: #1e293b;
  border: 1px solid #334155;
  border-radius: 10px;
  color: white;
  outline: none;
  transition: all 0.25s ease;
}

input:focus {
  border-color: #6366f1;
  box-shadow: 0 0 0 2px rgba(99, 102, 241, 0.4);
}
