/* FULL PAGE BACKGROUND */
.login-page {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  /* background: linear-gradient(135deg, #0f172a, #1e293b); */
}

/* GLASS CARD */
.login-card {
  
  width: 350px;
  padding: 2.5rem;

  background: rgba(30, 41, 59, 0.6);
  backdrop-filter: blur(14px);

  border-radius: 20px;
  border: 1px solid rgba(148, 163, 184, 0.1);

  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.4);

  display: flex;
  flex-direction: column;
  gap: 1.2rem;

  text-align: center;
}

/* TITLE */
.login-title {
  font-size: 1.8rem;
  font-weight: 600;
}

/* SUBTITLE */
.login-subtitle {
  font-size: 0.9rem;
  color: #94a3b8;
  margin-bottom: 1rem;
}

/* INPUT */
.login-input {
  padding: 12px 14px;
  border-radius: 10px;
  border: 1px solid rgba(148, 163, 184, 0.2);

  background: rgba(15, 23, 42, 0.7);
  color: white;

  outline: none;
  transition: border 0.2s ease, box-shadow 0.2s ease;
}

.login-input:focus {
  border: 1px solid #3b82f6;
  box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.3);
}

/* BUTTON */
.login-button {
  margin-top: 0.5rem;
  padding: 12px;
  border-radius: 12px;
  border: none;

  background: linear-gradient(135deg, #3b82f6, #6cbcd6);
  color: white;
  font-weight: 600;
  cursor: pointer;

  transition: all 0.3s ease;
}

.login-button:hover {
  /* background: #2563eb; */
  transform: translateY(-2px);
}

.login-button:active {
  transform: scale(0.98);
}
