.onboarding-container {
  height: 100vh;
  width: 100%;
  background: var(--bg);
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
  text-align: center;
  position: relative;
  overflow: hidden;
}

.onboarding-content h1 {
  font-size: 2.2rem;
  margin-bottom: 1rem;
  font-weight: 600;
}

.onboarding-content p {
  font-size: 1rem;
  opacity: 0.75;
  max-width: 400px;
  margin: 0 auto;
}

.bottom-section {
  position: absolute;
  bottom: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dots {
  display: flex;
  gap: 8px;
  margin-bottom: 1.5rem;
}

.dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: gray;
  transition: 0.3s;
}

.dot.active {
  background: #2dd3ee;
  transform: scale(1.3);
}

.onboarding-btn {
  width: 250px;
  border-radius: 14px;
  border: none;
  background: #2dd3ee;
  color: #0f172a;
  font-weight: 600;
  cursor: pointer;
  transition: 0.3s ease;
}

.onboarding-btn:hover {
  transform: translateY(-2px);
}