.avatar-wrapper {
  position: relative;
}

.profile-dropdown {
  position: absolute;
  top: 60px; /* below avatar */
  left: 0;
  width: 180px;
  background: var(--card);   /* flat dark */
  border: 1px solid var(--border);
  
  border-radius: 16px;
  padding: 12px;
  box-shadow: 0 20px 50px rgba(0,0,0,0.5);

  z-index: 9999;

  animation: fadeIn 0.2s ease;
}

.dropdown-user {
  font-size: 14px;
  color: #94a3b8;
  margin-bottom: 10px;
  border-bottom: 1px solid #334155;
  padding-bottom: 8px;
}

.profile-dropdown button {
  width: 100%;
  /* background: linear-gradient(135deg, #ef4444, #dc2626); */
  border: none;
  padding: 8px;
  border-radius: 10px;
  color: white;
  cursor: pointer;
  font-weight: 500;
  transition: 0.2s ease;
}

.profile-dropdown button:hover {
  transform: translateY(-2px);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.profile-container {
  /* min-height: 100vh; */
  /* background: radial-gradient(circle at top left, #1e293b, #0f172a 60%); */
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Card aligned at top */
.profile-card {
  width: 100%;
  max-width: 500px;
  background: rgba(30, 41, 59, 0.6);
  backdrop-filter: blur(18px);
  border-radius: 20px;
  padding: 25px;
  display: flex;
  align-items: center;
  gap: 20px;
  border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.4);
}

/* Left side avatar */
.avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  background: linear-gradient(135deg, #2dd3ee, #0ea5e9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 28px;
  font-weight: bold;
  color: black;
  box-shadow: 0 0 20px rgba(45, 211, 238, 0.4);
}

/* Avatar Wrapper */
.avatar-wrapper {
  position: relative;
}

/* Avatar Circle */
.avatar-circle {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  background: linear-gradient(135deg, #2dd3ee, #0ea5e9);
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s ease;
}

.avatar-circle:hover {
  transform: scale(1.05);
}

/* Right content */
.profile-right h2 {
  color: white;
  font-size: 20px;
  margin-bottom: 6px;
}

.subtitle {
  color: #94a3b8;
  font-size: 14px;
}

/* Logout button outside card */
.logout-btn {
  margin-top: 30px;
  width: 100%;
  max-width: 500px;
  padding: 14px;
  border-radius: 14px;
  border: none;
  background: linear-gradient(135deg, #ef444454, #dc26264f);
  color: white;
  font-weight: 600;
  font-size: 15px;
  cursor: pointer;
  transition: all 0.25s ease;
  
}

.logout-btn:hover {
  transform: translateY(-3px);
  
}